# Assignment - 7 : Association Rule


# Problem Statement-

Assignment on Association Rule Learning Download Market Basket Optimization dataset from below link. Data Set: https://www.kaggle.com/hemanthkumar05/market•basket•optimization. This dataset comprises the list of transactions of a retail company over the period of one week. It contains a total of 7501 transaction records where each record consists of the list of items sold in one transaction. Using this record of transactions and items in each transaction, find the association rules between items. There is no header in the dataset and the first row contains the first transaction, so mentioned header = None here while loading dataset. Follow following steps:
A.	Data Preprocessing
B.	Generate the list of transactions from the dataset
C.	Train Apriori algorithm on the dataset
D.	Visualize the list of rules
E.	Generated rules depend on the values of hyper parameters. By increasing the minimum confidence value and find the rules accordingly

# importing python libraries

In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import *
import numpy as np

# installing apyori

In [2]:
pip install apyori

Requirement already satisfied: apyori in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (1.1.2)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.1 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from apyori import apriori

# loading csv file into a dataframe

In [5]:
A=pd.read_csv(r"C:\Users\HP\Desktop\Market_Basket_Optimisation.csv",header=None)
A

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# counting the total number of null values in each column

In [6]:
A.isnull().sum()

0        0
1     1754
2     3112
3     4156
4     4972
5     5637
6     6132
7     6520
8     6847
9     7106
10    7245
11    7347
12    7414
13    7454
14    7476
15    7493
16    7497
17    7497
18    7498
19    7500
dtype: int64

# filling the "NaN" values with "0"

In [7]:
A.fillna(0,inplace=True)
A.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
A.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19],
           dtype='int64')

In [9]:
transactions=[]
for i in range (0,7501):
    transactions.append([str(A.values[i,j]) for j in range (0,20)])
    
transactions[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [25]:
rule_list=apriori(transactions,min_length=2,min_support=0.003,min_confidence=0.003,min_lift=3)
result=list(rule_list)
print(result[0])

RelationRecord(items=frozenset({'escalope', 'pasta'}), support=0.005865884548726837, ordered_statistics=[OrderedStatistic(items_base=frozenset({'escalope'}), items_add=frozenset({'pasta'}), confidence=0.07394957983193277, lift=4.700811850163794), OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.3728813559322034, lift=4.700811850163794)])

In [19]:
print(len(result))

188

In [24]:
def inspect(result):
    lhs         = [tuple(results[2][0][0])[0] for results in result]
    rhs         = [tuple(results[2][0][1])[0] for results in result]
    support    = [results[1] for results in result]
    confidence = [results[2][0][2] for results in result]
    lift       = [results[2][0][3] for results in result]
    return list(zip(lhs, rhs, support, confidence, lift))
output_DataFrame = pd.DataFrame(inspect(result), columns = ['Left_Hand_Side', 'Right_Hand_Side', 'Support', 'Confidence', 'Lift'])
output_DataFrame

    Left_Hand_Side       Right_Hand_Side   Support  Confidence      Lift
0         brownies        cottage cheese  0.003466    0.102767  3.225330
1          chicken           light cream  0.004533    0.075556  4.843951
2         escalope  mushroom cream sauce  0.005733    0.072269  3.790833
3         escalope                 pasta  0.005866    0.073950  4.700812
4      fresh bread          tomato juice  0.004266    0.099071  3.259356
..             ...                   ...       ...         ...       ...
183    ground beef             spaghetti  0.003066    0.211009  3.532991
184    ground beef             spaghetti  0.003066    0.031208  3.344117
185      olive oil                  milk  0.003333    0.050607  3.216994
186           milk             spaghetti  0.003066    0.063889  3.014029
187       tomatoes                  milk  0.003333    0.048733  3.097846

[188 rows x 5 columns]